form {
    width: 30rem;
    margin: auto;
    box-shadow: 10px 8px #fff;
}

.add_note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    z-index: 0;
}

input, textarea {
    border: none;
    border-radius: 5px;
    outline: 0;
}

.title {
    width: 30rem;
    height: 1rem;
    padding: 10px;
    font-weight: 500;
    font-size: large;
}

.note {
    width: 30rem;
    height: 8rem;
    padding: 10px;
    font-weight: 300;
    font-size: large;
}

.btn-align {
    margin-top: 5rem;
}

@media screen and (max-width: 550px) {
    form {
        width: 20rem;
        margin: auto;
    }
    .title {
        width: 20rem;
        height: 1rem;
        padding: 10px;
        margin-top: 2rem;
    }
    
    .note {
        width: 20rem;
        height: 5rem;
        padding: 10px;
    }
}
