.layout {
    display: flex;
    flex-flow: row wrap;
    padding-top: 4rem;
}

.main {
    margin-left: 8rem;
    padding-top: 4rem;
    padding-left: 3rem;
}

.filter {
    position: fixed;
    z-index: 1;
    right: 1rem;
    top: 4rem;
}