.header {
    background-color: var(--primary);
    color: var(--white);
    width: 100%;
}

.fixed {
    position: fixed;
    z-index: 1;
}

.heading {
    font-family: 'Montserrat', sans-serif;
}

.link {
    color: var(--white);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.header_link{
    margin-right: 5rem;
}

.header_info {
    margin-right: 1rem;
}