.fixed {
    position: fixed;
}
.sidebar {
    width: 5rem;
    height: 100vh;
    padding-top: 3rem;
    background-color: var(--primary);
    color: var(--white);
    font-size: x-large;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1.5rem;
}