.cards{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    gap: 20px;
    width: 100%;
    padding-left: 6rem;
}

.card {
    width: 320px;
}

.card_icons {
    font-size: 24px;
}

.card_icons:hover {
    cursor: pointer;
}

.color_icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.primary {
    background: var(--light-primary);
    color: var(--white);
}

.secondary {
    background: var(--light-secondary);
    color: var(--white);
}

.danger{
    background: var(--light-danger);
    color: var(--white);
}

.warning {
    background: var(--light-warning);
    color: var(--white);
}

.success {
    background: var(--light-success);
    color: var(--white);
}

.default {
    background: var(--white);
}

.card_badge {
    position: absolute;
    border-radius: 10px 0px 0px 0px;
}

.btn-tag {
    background: #7200af;
    color: var(--white);
}