.cards{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    gap: 20px;
    width: 100%;
    padding-left: 6rem;
}

.card {
    width: 320px;
}

.card_icons {
    font-size: large;
}

.card_icons:hover {
    cursor: pointer;
}